/* MainBody.css */
.main-transfer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.transfer-container {
  text-align: center;
  cursor: pointer;
  margin: 10px;
  flex: 1;
  max-width: 300px;
}

.clickable-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 10px;
  flex: 1;
  max-width: 300px;
}

.container-part-arrow {
  text-align: left;
  flex: 0 0 auto;
  margin-left: auto;
}

.dynamic-string {
  margin-left: 2px;
  flex: 1;
}

.icon {
  font-size: 25px;
}

.container p {
  margin: 10px 0;
}

/* Frequent Contacts Styles */
.frequent-contacts {
  flex: 1;
  margin-top: 20px;
}

/* Slider Styles */
.slider {
  width: 100%;
  margin-top: 20px;
  order: 4;
}