/* MainBody.css */
.main-transfer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.transfer-container {
  text-align: center;
  cursor: pointer;
  margin: 10px;
  flex: 1;
  max-width: 300px;
}

.clickable-container {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 10px;
  flex: 1;
  max-width: 300px;
}

.container-part {
  text-align: left;
  flex: 1;
}

/* .dynamic-string {
  // Adjust styling for dynamic string part 

} */

.icon {
  font-size: 48px;
}

.container p {
  margin: 10px 0;
}

/* Frequent Contacts Styles */
.frequent-contacts {
  flex: 1;
  margin-top: 20px;
}

/* Slider Styles */
.slider {
  width: 100%;
  margin-top: 20px;
  order: 4;
}